absl-py
aiohttp
aiosignal
altair
annotated-types
asgiref
astunparse
attrs
azure-ai-documentintelligence
azure-ai-formrecognizer
azure-common
azure-core
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
dnspython
filelock
Flask
Flask-Cors
flatbuffers
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h5py
httplib2
huggingface-hub
idna
intel-openmp
isodate
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
mdurl
mkl
ml-dtypes
mpmath
msrest
multidict
mypy-extensions
mysql-connector-python
namex
networkx
numpy
oauthlib
opt-einsum
optree
orjson
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pymongo
pyparsing
python-dateutil
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
six
smmap
SQLAlchemy
streamlit
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
wrapt
yarl
